Source: autolog
Build-Depends: debhelper (>= 10)
Section: admin
Priority: extra
Maintainer: Debian Security Tools Packaging Team <pkg-security-team@lists.alioth.debian.org>
Uploaders: Marcos Fouces <mfouces@yahoo.es>
Standards-Version: 3.9.1
Homepage: http://metalab.unc.edu/pub/Linux/system/admin/idle/
Vcs-Git: https://anonscm.debian.org/git/pkg-security/autolog.git
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-security/autolog.git

Package: autolog
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, cron (>= 3.0pl1-42),lsb-base (>=3.0-6)
Recommends: exim4|mail-transport-agent
Description: Terminates connections for idle users
 Autolog terminates connections considered to be idle based on a large
 variety of parameters.
