Source: autolog
Build-Depends: debhelper (>= 10)
Section: admin
Priority: extra
Maintainer: Debian Security Tools Packaging Team <pkg-security-team@lists.alioth.debian.org>
Uploaders: Marcos Fouces <mfouces@yahoo.es>
Standards-Version: 3.9.1
Homepage: http://metalab.unc.edu/pub/Linux/system/admin/idle/
Vcs-Git: https://anonscm.debian.org/git/pkg-security/autolog.git
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-security/autolog.git

Package: autolog
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, cron (>= 3.0pl1-42),lsb-base (>=3.0-6)
Recommends: exim4|mail-transport-agent
Description: Log out idle users
 The  program reads the utmp file, entry by entry.  The username for each 
 'user process' is compared to the entries in the configuration file.
 The first entry to match both the name, the group, and the tty line 
 of the process will be used to conduct the automatic logout.
