#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

# the clean target may be called with patches unapplied; work arount the
# upstream makefile exiting uncleanly
override_dh_auto_clean:
	make clean || true
